recursive-include rcute_ai/resources/sphinx/vosk-model-en-us-daanzu-20200328-lgraph *
recursive-include rcute_ai/resources/sphinx/vosk-model-cn-0.1 *
recursive-include rcute_ai/resources/yolov3 *
include rcute_ai/msyh.ttc